<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>767714958062-eh1kn9q7b3pgvhubj1ghmnvrog5ob8j9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.767714958062-eh1kn9q7b3pgvhubj1ghmnvrog5ob8j9</string>
	<key>API_KEY</key>
	<string>AIzaSyBdLbd_pue2yWMOocHVrGeAC1SN-25wq6A</string>
	<key>GCM_SENDER_ID</key>
	<string>767714958062</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>trigeeks.Bowfolios</string>
	<key>PROJECT_ID</key>
	<string>bowfolios-trigeeks</string>
	<key>STORAGE_BUCKET</key>
	<string>bowfolios-trigeeks.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:767714958062:ios:6f5ea981f2dc0f186cf1ff</string>
	<key>DATABASE_URL</key>
	<string>https://bowfolios-trigeeks.firebaseio.com</string>
</dict>
</plist>